# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Build output
dist/
build/

# Scratch & Temporary Test Scripts
scratch/

# IDE / System files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
/prisma/migrations/*_lock.toml
